# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
pip-selfcheck.json

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Env files
.env
.env.local

# Database / runtime files
data.db
data/*.db
data/*.sqlite3
data/*.sqlite

# Logs
logs/
*.log

# Docker
docker-compose.override.yml